{% extends 'project_manager_auth/_base.html' %}
{% load floppyforms %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SGP</b> v2</a>
  </div>

  <div class="login-box-body">
    <form action="{% url 'project_manager_auth:login' %}" method="post">
      {% csrf_token %}
      {% form form %}

      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" tabindex="3">Ingresar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}